<div style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
  

  <div class="modal fade" id="add-edit-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add/Edit Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="userForm" (ngSubmit)="saveUser()">
        <div class="modal-body">
          <input type="hidden" class="input-sm form-control" formControlName="id">
          <div class="form-group">
            <input type="text" class="input-sm form-control" formControlName="name">
            <p class="help-block" *ngIf="!userForm.get('name').valid && userForm.get('name').touched">Please enter Name.</p>
          </div>
          <div class="form-group">
            <input type="text" class="input-sm form-control" formControlName="jobTitle">
            <p class="help-block" *ngIf="!userForm.get('jobTitle').valid && userForm.get('jobTitle').touched">Please enter Job Title.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" #modalClose data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Save changes</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-edit-Modal" (click)="initUser()">Add</button>

  <div id="persons-grid" class="table-responsive mt-3">
    <h4>Angular 4 CRUD Example With Bootstrap 4 Datatable</h4>
    <table class="table table-hover table-bordered mt-2">
      <thead>
        <tr>
          <th scope="col" style="cursor: pointer;" (click)="sort('name')">
            Name <span *ngIf="params.sortBy === 'name'">{{ params.sortAsc ? '▲' : '▼' }}</span>
          </th>
          <th scope="col" style="cursor: pointer;" (click)="sort('jobTitle')">
            Job title <span *ngIf="params.sortBy === 'jobTitle'">{{ params.sortAsc ? '▲' : '▼' }}</span>
          </th>
          <th scope="col">Active</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of displayedUsers" [title]="rowTooltip(item)" (click)="rowClick(item)" (dblclick)="rowDoubleClick(item)">
          <td>{{ item.name }}</td>
          <td>{{ item.jobTitle }}</td>
          <td>
            <span style="color: grey">
              <span class="fa fa-check" *ngIf="item.active"></span>
              <span class="fa fa-times" *ngIf="!item.active"></span>
            </span>
          </td>
          <td>
            <span style="color: rgb(232, 0, 0); margin-right: 10px;">
              <a href="javascript:void(0);" (click)="getData(item); $event.stopPropagation()" data-toggle="modal" data-target="#add-edit-Modal">Edit</a>
            </span>
            <span style="color: rgb(232, 0, 0);">
              <a href="javascript:void(0);" (click)="delData(item); $event.stopPropagation()">Delete</a>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <nav *ngIf="lastPage > 1">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" href="#" (click)="changePage(currentPage - 1); $event.preventDefault()">Previous</a>
        </li>
        <li class="page-item" *ngFor="let page of pages" [class.active]="currentPage === page">
          <a class="page-link" href="#" (click)="changePage(page); $event.preventDefault()">{{ page }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === lastPage">
          <a class="page-link" href="#" (click)="changePage(currentPage + 1); $event.preventDefault()">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>